%p= link_to 'Back', root_path

%h2 Add Alert

- present alert do
  = form do
    .location.input
      %div= location.label
      %div= location.field
      %div= location.errors

    .code_is_not.input
      %div= code_is_not.label
      %div= code_is_not.field
      %div= code_is_not.errors

    .times.input
      %div= times.label
      %div= times.field
      %div= times.errors

    .alert_via.input
      %div= email_callback.label
      %div= email_callback.field
      %div= email_callback.errors

    %p= button_tag 'Add alert'