- present email_callback do
  = form do
    .label.input
      %div= label.label
      %div= label.field
      %div= label.errors

    .email.input
      %div= email.label
      %div= email.field
      %div= email.errors

    %p= button_tag form_button_text