%table
  %thead
    %tr
      %th Label
      %th Email
      %th
  %tbody
    - email_callbacks.each do |email_callback|
      - email_callback = present email_callback
      %tr{id: "email_callback_#{email_callback.id}"}
        %td= email_callback.label
        %td= email_callback.to
        %td
          %ul
            %li.edit
              = link_to email_callback.edit_path, title: 'Edit this email callback' do
                %span edit
            %li.remove
              = link_to email_callback.delete_path, title: 'Remove this email callback' do
                %span remove