- present location do
  = form do
    .title.input
      %div= title.label
      %div= title.field
      %div= title.errors

    .url.input
      %div= url.label
      %div= url.field
      %div= url.errors

    .http_method.input
      %div= http_method.label
      %div= http_method.field
      %div= http_method.errors

    .seconds.input
      %div= seconds.label
      %div= seconds.field
      %div= seconds.errors

    %p= button