%table
  %thead
    %tr
      %th Title
      %th URL
      %th HTTP method
      %th Seconds
      %th
    %tbody
      - locations.each do |location|
        - present location do
          %tr{:id => "url_#{id}"}
            %td= tpl.link_to title, path
            %td= url
            %td= http_method
            %td= seconds
            %td
              = tpl.link_to 'edit', edit_path
              |
              = tpl.link_to 'remove', delete_path