#locations
  %h2 URLs

  %p
    = link_to "Add URL", new_location_path
    |
    = link_to "Email callbacks", email_callbacks_path
    |
    = link_to "Alerts", alerts_path

  = render_paginated_locations
  = paginate paginated_locations