#locations
  %h2 URLs

  %p
    = link_to "Add URL", new_location_path
    |
    = link_to "Email callbacks", email_callbacks_path
    |
    = link_to "Alerts", alerts_path

  - if locations.present?
    %table.table
      %thead
        %tr
          %th Title
          %th URL
          %th HTTP method
          %th Seconds
          %th
        %tbody
          - locations.each do |location|
            %tr{id: "url_#{location.id}"}
              %td= link_to location.title, location_path(location)
              %td= location.url
              %td= location.http_method.upcase
              %td= location.seconds
              %td
                = link_to 'edit', edit_location_path(location), title: 'Edit this URL'
                |
                = link_to 'remove', delete_location_path(location), title: 'Remove this URL'
  - else
    %p.empty No URLs found.

  = paginate locations