#locations
  %h2 URLs

  %p
    = link_to "Add URL", new_location_path
    |
    = link_to "Email callbacks", email_callbacks_path
    |
    = link_to "Alerts", alerts_path

  - if paginated_locations.present?
    = render 'locations/table', :locations => paginated_locations
  - else
    %p.empty No URLs found.

  = paginate paginated_locations