%p= link_to 'Back', root_path

%h2 Add URL

= form_for location do |f|
  %div= f.label :title
  %p= f.text_field :title

  %div= f.label :url, 'URL'
  %p= f.text_field :url

  %div= f.label :http_method, 'HTTP method'
  %p= f.select :http_method, %w(GET POST)

  %div= f.label :seconds
  %p= f.text_field :seconds

  %p= button_tag 'Add URL'