- present location do
  %p
    Sending a
    %strong= http_method
    request to
    %strong= url
    every
    %strong= seconds
    seconds.

  %p= "Next ping in #{next_ping}."

  #pings= render_pings