%p= link_to 'Back', root_path

#location
  - present location do
    #info
      %table
        %tbody
          %tr
            %th Title
            %td= title
          %tr
            %th URL
            %td= url
          %tr
            %th HTTP method
            %td= http_method
          %tr
            %th Seconds
            %td= seconds
    #pings
      %h2 Pings
      %p= "Next ping in #{next_ping}."
      = render_pings
      = tpl.paginate pings