!!!
%html
  %head
    %title Pinger
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %h1= link_to 'Pinger', root_path
    = yield
    #footer
      %p
        Built by
        = link_to 'Deka Labs', 'http://dekalabs.com'